@import 'common';

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

p,
li {
  margin-bottom: rem(5);
}

th {
  width: 25%;
  padding: 10px;
  background-color: app-color('M300');
  font-weight: bold;
}

tr {
  &:hover {
    color: app-color('M900');
    background-color: app-color('M300');
  }
}

td {
  padding: 0 rem(10);

  ul {
    padding-inline-start: rem(25);
    @include not-mobile {
      padding-inline-start: rem(40);
    }
  }

  ul li {
    display: list-item;
    list-style: disc;

    &:before {
      content: none;
    }
  }
}

th,
td {
  border: 1px solid app-color('M900');
  border-collapse: collapse;
}
