<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<mat-slide-toggle class="test-scss">Toggle me!</mat-slide-toggle>

<!-- Type-safe template outlet parameters -->
<!-- <alphabetical-list
  [data]="data"
  [itemLabelHandler]="labelHandler"
>
  <ng-template
    alphabeticalListItemContent
    [ngxTemplateContextType]="contextType"
    let-item
  >
    <b>{{ item.name }} (#{{ item.id }})</b>
  </ng-template>
</alphabetical-list> -->
